<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <conversionRule conversionWord="traceID" converterClass="kamon.instrumentation.logback.tools.TraceIDConverter" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%thread] [%traceID] %level %logger{32} %m%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="org.http4s" level="INFO"/>
  <logger name="oshi.util.FileUtil" level="INFO"/>
</configuration>
